 <div id="copyright" style="font-size: 14px; text-align: center; position:fixed; max-height: 80px; width:100%">
        &copy; 2021 Федеральная служба государственной регистрации, кадастра и картографии. All rights reserved.
</div>
