<section id="header" style="max-height: 80px; width:100%">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Logo -->
                <h1 style="max-width:300px; max-height:65px; line-height:20px"><a href="/" id="logo">Федеральная служба государственной регистрации, кадастра и картографии</a></h1>

                <!-- Nav -->
                <nav id="nav" style="font-size:15px; padding:10px">
                    <a asp-area="" asp-controller="Admin" asp-action="Index">Принятые заявления</a>
                    <a asp-area="" asp-controller="Admin" asp-action="Sotrudniki">Сотрудники</a>
                    <a asp-area="" asp-controller="Admin" asp-action="Zayaviteli">Заявители</a>
                    <a asp-area="" asp-controller="Admin" asp-action="Filial">Филиалы</a>
                    <a asp-area="" asp-controller="Home" asp-action="Index" style="" border: 0.15px solid; border-color: #c6c8c8; background: none; padding:5px; width:140px; height:24px; align-content:center;">Выйти</a>
                </nav>
            </div>
        </div>
    </div>
</section>
