<style>
    table {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #dfdfdf;
        border-radius: 6px;
        border-collapse: separate;
        border-spacing: 0px;
        line-height: 45px;
    }

        table thead tr {
            color: #ffffff;
            font-weight: bold;
            background: #c83240;
        }

        table tr td {
            border-right: 1px solid #dfdfdf;
        }

            table tr td:last-child {
                border-right: 0px;
            }

        table tbody tr:nth-child(1n) {
            background: #f6f6f6;
        }

        table tbody tr:nth-child(2n) {
            background: #e6e6e6;
        }

        table tbody tr:hover {
            background: #ffe8e8;
            transition-duration: 0.6s;
        }

    #searcht {
        border: 0.001px solid black;
        width: 60%;
        height: 25px;
        margin: 10px;
    }

    #searchb {
        width: 100px;
        height: 27px;
        border: 0.15px solid;
        align-content: center;
        font-size: 15px;
    }
</style>
<div style="font-size:16px">
    <h3>Сотрудники</h3>

    <form asp-controller="Home" asp-action="Sotrudniki" style="padding: 10px; margin:auto">
        <p>
            Id-сотрудника или ФИО: <input type="text" name="search_text" id="searcht">
            <input type="submit" value="Найти" id="searchb" />
        </p>
    </form>
    
    <table>
        <tr>
            <th>ID-сотрудника</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Страна</th>
            <th>Город</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>Квартира</th>
            <th>Телефон</th>
            <th>Роль</th>
            <th>Почта</th>
            <th>ID-Филиала</th>
        </tr>
        @foreach (var Сотрудники in Model)
        {
    <tr>
        <td>@Сотрудники.id_s</td>
        <td>@Сотрудники.Familia</td>
        <td>@Сотрудники.Imya</td>
        <td>@Сотрудники.Otchestvo</td>
        <td>@Сотрудники.dateB.ToShortDateString()</td>
        <td>@Сотрудники.Strana</td>
        <td>@Сотрудники.Gorod</td>
        <td>@Сотрудники.Ulitsa</td>
        <td>@Сотрудники.dom</td>
        <td>@Сотрудники.Kvartira</td>
        <td>@Сотрудники.phone</td>
        <td>@Сотрудники.Role</td>
        <td>@Сотрудники.Email</td>
        <td>@Сотрудники.id_f</td>
    </tr>
        }
    </table>
</div>
